
p {

  color: white;
}
a {
  text-decoration: none;
  color: rgb(7, 128, 233);
}

h1 {
  text-align: center;
  color: white;
}

h2 {
  color: white;
  
}

h4 {
  color: white;
}

h5 {
  color: white;
}
body {
     background-color: #313639; 
}



li {

  font-color: white;
}

.line {

  width: 120px;
  height: 3px;
  background-color: #FFF;
  position: absolute;
  transition: all .4s ease-in-out;
}

a {
  text-align: center;
  display: inline-block;
  position: relative;

}

a:nth child(1):hover ~ .line {
      transform: translate(100px);
      transition: all .4s ease-in-out;

}
a:nth-child(2):hover ~ .line {

  transform: translate(204px);
  transition: all .4s ease-in-out;
}
a:nth-child(3):hover ~ .line {
      transform: translate(400px);
      transition: all .4s ease-in-out;

}

a:nth-child(4):hover ~ .line {
        transform: translate(660px);
        transition: all .4s ease-in-out;

}

a:nth-child(5):hover ~ .line {
      transform: translate(900px);
      transition: all .4s ease-in-out;

}

#oof {
         border: 3px solid red;
    border-radius: 5%;

  width: 50%;
}

img {

  float: right;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#DC2424, #4A569D);
  background-radius: 8px;
}


::-webkit-scrollbar-thumb:hover {
  bacgkround: red;
}
.card{
  margin: 5% 0%;
}

.card-body{
  margin: 0% 0% 0% 3%;
  padding: 6% 0%;
}